@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-subtitle{
	color: white;
	text-transform: uppercase;
	margin-bottom: 1.2rem;

	@include responsive(desktop){
		margin-bottom: 2.4rem;
	}
}

// Estilos para la etiqueta h3

.main-view{
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	color: white;
	margin-right: 1.2rem;
}