@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.container-footer-info{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: minmax(8rem, 8.4rem) minmax(8rem, 8.4rem) minmax(4rem, 4.2rem);
	align-items: center;
	row-gap: 3.2rem;
	text-align: center;

	@include responsive(tablet){
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1.4rem;
		grid-template-rows: repeat(1, 1fr);
		row-gap: 0;

		& .main-footer__social-networks{
			align-self: flex-end;
		}
	}
}
// Texto del footer

.footer-text{
	font-size: 1.6rem;
	color: rgb(131, 130, 131);
	margin-bottom: .4rem;
}

.footer-text--bold{
	font-weight: 600;
}