@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-footer{
	width: 100%;
	background-color: var(--colorBlack);
	padding: 6.4rem 2.4rem;
	padding-top: 15rem;
	z-index: 100;

	@include responsive(tablet){
		padding: 8rem 3.6rem;
		padding-top: 12rem;
	}

	@include responsive(desktop){
		padding: 7.2rem 10rem;
		padding-top: 15rem;
	}
}

