@use '../../../abstracts/variables' as *;
@use '../../../abstracts/mixins' as *;

.main-title--form{
	color: var(--colorWhite);
	margin-bottom: 2.4rem;

	@include responsive(700px){
		margin-bottom: 3.2rem;
	}
}

// Texto
.main-paragraph--form{
	color: var(--colorWhite);

	@include responsive(700px){
		width: 80%;
	}
	
	@include responsive(desktop){
		width: 90%;
	}
}