@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-button{
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--colorDarkGrey);
	padding: 1.6rem 2.4rem;
	margin-bottom: 2.4rem;
	transition: all .5s;
	z-index: 200;

	&::before{
		@include before(0, 0, 100%, 100%){
			background-color: var(--colorWhite);
			border-radius: .8rem;
			transition: all .5s;
			z-index: -100;
		}
	}

	&:hover::before{
		background-color: var(--colorLightPeach);
	}

	&:hover{
		color: var(--colorWhite);
	}
}

