@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-title--hero{
	line-height: 1.1;
	text-align: center;
	color: white;
	margin-bottom: 2.4rem;

	@include responsive(tablet){
		width: 75%;
	}

	@include responsive(desktop){
		width: 80%;
		text-align: start;
	}
}