// Variables de las fuentes

:root{
	--fontTitle: 'Jost', sans-serif;
	--fontText: 'Jost', sans-serif;
}

// Variables de los colores
:root{
	--colorPeach: #E7816B;
	--colorBlack: #1D1C1E;
	--colorWhite: #FFFFFF;
	--colorLightPeach: #FFAD9B;
	--colorDarkGrey: #333136;
	--colorLightGrey: #F1F3F5;
	--colorText: #333136;
}