@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-hero-services{
	position: relative;
	width: 100%;
	margin-bottom: 12rem;
	overflow: hidden;
	
	&::before{
		@include before(1rem,-15rem, 60rem, 100%){
			background-image: url('../../../../assets/shared/desktop/bg-pattern-two-circles.svg');
			background-repeat: no-repeat;
		}

		@include responsive(580px){
			left: -5rem;
		}

		@include responsive(tablet){
			top: -15rem;
			left: auto;
			right: 6rem;
			width: 90rem;
			height: 60rem;
			background-image: url('../../../../assets/shared/desktop/bg-pattern-call-to-action.svg');
		}

		@include responsive(desktop){
			right: 10rem;
		}
	}
	
	@include responsive(tablet){
		padding: 0 3.6rem;
	}

	@include responsive(desktop){
		margin-bottom: 16rem;
		padding: 0 10rem;
	}
}

.container-services{
	width: 100%;
	display: grid;
	grid-template-rows: repeat(1, minmax(31rem, 32rem));
	justify-items: center;
	align-items: center;
	background-color: var(--colorPeach);
	text-align: center;
	color: white;
	padding: 0 2.4rem;
	
	@include responsive(tablet){
		grid-template-rows: repeat(1, minmax(25rem, 26rem));
		border-radius: 1.6rem;
		padding: 0;
	}
}

// Contenedor de la info
.container-services-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 400;
}