@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-services{
	width: 100%;
	padding: 0 2.4rem;

	@include responsive(tablet){
		padding: 0 3.6rem;
	}

	@include responsive(desktop){
		padding: 0 10rem;
	}
}

.main-services__container{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(6, 48rem);
	row-gap: 3.6rem;

	@include responsive(tablet){
		grid-template-rows: repeat(6, 31rem);
		row-gap: 3.2rem;
	}

	@include responsive(desktop){
		grid-template-columns: repeat(3, minmax(35rem, 1fr));
		column-gap: 3.2rem;
		grid-template-rows: repeat(2, 48rem);
	}
}