@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

// Title 
.main-title-services{
	margin-bottom: 2.4rem;
}

// Text
.main-paragraph-services{
	@include responsive(desktop){
		width: 80%;
	}

	@include responsive(1300px){
		width: 75%;
	}
}

