/* Mixin para before */
/* Mixin para after */
:root {
  --fontTitle: "Jost", sans-serif;
  --fontText: "Jost", sans-serif;
}

:root {
  --colorPeach: #E7816B;
  --colorBlack: #1D1C1E;
  --colorWhite: #FFFFFF;
  --colorLightPeach: #FFAD9B;
  --colorCrema: #FDF3F0;
  --colorDarkGrey: #333136;
  --colorLightGrey: #F1F3F5;
  --colorText: #333136;
}

.main-footer {
  width: 100%;
  background-color: var(--colorBlack);
  padding: 6.4rem 2.4rem;
  padding-top: 15rem;
  z-index: 100;
}
@media screen and (min-width: 740px) {
  .main-footer {
    padding: 8rem 3.6rem;
    padding-top: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-footer {
    padding: 7.2rem 10rem;
    padding-top: 15rem;
  }
}

.container-footer-header {
  margin-bottom: 4rem;
}
@media screen and (min-width: 700px) {
  .container-footer-header {
    margin-bottom: 3.2rem;
  }
}

.main-footer__header {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 6rem minmax(13rem, 16rem);
  row-gap: 3.6rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-bottom: 0.01rem solid #434242;
}
@media screen and (min-width: 450px) {
  .main-footer__header {
    grid-template-rows: 6rem minmax(12rem, 14rem);
    row-gap: 2.4rem;
  }
}
@media screen and (min-width: 700px) {
  .main-footer__header {
    grid-template-columns: minmax(20rem, 21rem) 1fr;
    grid-template-rows: repeat(1, minmax(9rem, 10rem));
    column-gap: 3.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-footer__header .main-footer__nav {
    justify-self: flex-end;
  }
}

.main-footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media screen and (min-width: 700px) {
  .main-footer__list {
    flex-direction: row;
    align-items: center;
  }
}

.main-list-footer__item {
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 700px) {
  .main-list-footer__item {
    margin: 0 1.2rem;
  }
}

.main-footer__link {
  position: relative;
  color: var(--colorWhite);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s;
}
.main-footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.1rem;
  background-color: var(--colorWhite);
  transition: all 0.5s;
}
.main-footer__link:hover::before {
  width: 100%;
  transition: all 0.5s;
}

.container-footer-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(8rem, 8.4rem) minmax(8rem, 8.4rem) minmax(4rem, 4.2rem);
  align-items: center;
  row-gap: 3.2rem;
  text-align: center;
}
@media screen and (min-width: 740px) {
  .container-footer-info {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.4rem;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 0;
  }
  .container-footer-info .main-footer__social-networks {
    align-self: flex-end;
  }
}

.footer-text {
  font-size: 1.6rem;
  color: #838283;
  margin-bottom: 0.4rem;
}

.footer-text--bold {
  font-weight: 600;
}

.main-footer__social-networks {
  list-style: none;
}

.social-network {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  margin-right: 1.6rem;
  transition: all 0.5s;
}
@media screen and (min-width: 740px) {
  .social-network {
    margin-right: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .social-network {
    margin-right: 1.6rem;
  }
}
.social-network img {
  width: 2.4rem;
  height: 2.4rem;
}
.social-network:hover {
  filter: brightness(1.3);
  transform: scale(1.5);
  transition: all 0.5s;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@media screen and (min-width: 1600px) {
  .main-header, .main-hero, .main-hero-projects, .main, .main-about, .main-article, .main-section, .main-footer {
    max-width: 80%;
  }
}
@media screen and (min-width: 1900px) {
  .main-header, .main-hero, .main-hero-projects, .main, .main-about, .main-article, .main-section, .main-footer {
    max-width: 65%;
  }
}
@media screen and (min-width: 2300px) {
  .main-header, .main-hero, .main-hero-projects, .main, .main-about, .main-article, .main-section, .main-footer {
    max-width: 50%;
  }
}

.main-hero, .main, .main-article, .main-section, .main-footer {
  overflow: hidden;
}

h1, h2, h3 {
  font-family: var(--fontTitle);
  font-weight: 400;
}

h1 {
  font-size: 3.2rem;
}
@media screen and (min-width: 740px) {
  h1 {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 740px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

p, a {
  font-family: var(--fontText);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.56;
}
@media screen and (min-width: 740px) {
  p, a {
    font-size: 1.6rem;
  }
}

a {
  font-size: 1.5rem;
  font-weight: 600;
}

.main-header {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}
@media screen and (min-width: 740px) {
  .main-header {
    margin: 2.4rem 0;
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-header {
    padding: 0 10rem;
  }
}

.container-header-logo {
  width: 20rem;
  height: 2.4rem;
}
.container-header-logo img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container-main-hamburguer {
  width: 2.4rem;
  height: 1.8rem;
  background: linear-gradient(var(--colorBlack) 20%, transparent 20%, transparent 40%, var(--colorBlack) 40%, var(--colorBlack) 60%, transparent 60%, transparent 80%, var(--colorBlack) 80%);
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.container-main-hamburguer:hover {
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .container-main-hamburguer {
    display: none;
  }
}

.main-header__nav {
  display: none;
}
@media screen and (min-width: 740px) {
  .main-header__nav {
    display: block;
  }
}

.main-header__list {
  display: flex;
  list-style: none;
}

.main-list__item {
  margin: 0 1.2rem;
}

.links {
  position: relative;
  color: var(--colorDarkGrey);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
}
.links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.2rem;
  background-color: var(--colorDarkGrey);
  transition: all 0.5s;
}
.links:hover::before {
  width: 100%;
  transition: all 0.5s;
}

.main-hero {
  width: 100%;
  margin-bottom: 6.4rem;
}
@media screen and (min-width: 740px) {
  .main-hero {
    padding: 0 3.6rem;
    margin-bottom: 9.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-hero {
    padding: 0 10rem;
    margin-bottom: 12rem;
  }
}

.main-hero__container {
  display: grid;
  background-color: var(--colorPeach);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(30rem, 32rem) minmax(38rem, 41rem);
  row-gap: 2.4rem;
  padding: 0 2.4rem;
  padding-top: 6.4rem;
  overflow: hidden;
  z-index: 500;
}
@media screen and (min-width: 500px) {
  .main-hero__container {
    grid-template-rows: minmax(24rem, 27rem) minmax(38rem, 44rem);
  }
}
@media screen and (min-width: 600px) {
  .main-hero__container {
    grid-template-rows: minmax(24rem, 27rem) minmax(36rem, 38rem);
  }
}
@media screen and (min-width: 740px) {
  .main-hero__container {
    grid-template-rows: minmax(32rem, 35rem) minmax(42rem, 46rem);
    border-radius: 1.6rem;
  }
}
@media screen and (min-width: 800px) {
  .main-hero__container {
    grid-template-rows: minmax(32rem, 34rem) minmax(42rem, 46rem);
  }
}
@media screen and (min-width: 870px) {
  .main-hero__container {
    grid-template-rows: minmax(33rem, 35rem) minmax(50rem, 55rem);
  }
}
@media screen and (min-width: 970px) {
  .main-hero__container {
    grid-template-rows: minmax(28rem, 30rem) minmax(50rem, 55rem);
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__container {
    grid-template-columns: minmax(47rem, 49rem) minmax(min-content, max-content);
    grid-template-rows: repeat(1, minmax(64rem, 66rem));
    align-items: center;
    column-gap: 3.6rem;
    padding: 0 6.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-hero__container {
    grid-template-columns: minmax(54rem, 55rem) minmax(min-content, max-content);
  }
}

.main-hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .main-hero__info {
    align-items: flex-start;
  }
}

.main-hero__image {
  position: relative;
}
.main-hero__image img {
  width: 100%;
  display: block;
  transform: scale(1.8) translateY(4rem);
}
@media screen and (min-width: 500px) {
  .main-hero__image img {
    transform: scale(1.6) translateY(0);
  }
}
@media screen and (min-width: 600px) {
  .main-hero__image img {
    transform: scale(1) translateY(-16rem);
  }
}
@media screen and (min-width: 740px) {
  .main-hero__image img {
    transform: scale(1) translateY(-12rem);
  }
}
@media screen and (min-width: 760px) {
  .main-hero__image img {
    transform: scale(1) translateY(-14rem);
  }
}
@media screen and (min-width: 830px) {
  .main-hero__image img {
    transform: scale(1) translateY(-16rem);
  }
}
@media screen and (min-width: 860px) {
  .main-hero__image img {
    transform: scale(1) translateY(-18rem);
  }
}
@media screen and (min-width: 870px) {
  .main-hero__image img {
    transform: scale(1) translateY(-20rem);
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__image img {
    width: auto;
    height: 80rem;
    transform: translateX(-15rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 1200px) {
  .main-hero__image img {
    transform: translateX(-12rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 1300px) {
  .main-hero__image img {
    transform: translateX(-8rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 1370px) {
  .main-hero__image img {
    transform: translateX(-2rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 1450px) {
  .main-hero__image img {
    transform: translateX(5rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 1500px) {
  .main-hero__image img {
    transform: translateX(10rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 1580px) {
  .main-hero__image img {
    transform: translateX(15rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 1600px) {
  .main-hero__image img {
    transform: translateX(2rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 2100px) {
  .main-hero__image img {
    transform: translateX(6rem) translateY(9rem) scale(1.1);
  }
}
@media screen and (min-width: 2800px) {
  .main-hero__image img {
    transform: translateX(20rem) translateY(9rem) scale(1.1);
  }
}
.main-hero__image::before {
  content: "";
  position: absolute;
  top: -36rem;
  left: 0;
  width: 64rem;
  height: 64rem;
  left: auto;
  right: 14rem;
  background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 500px) {
  .main-hero__image::before {
    top: -24rem;
    right: -10rem;
  }
}
@media screen and (min-width: 600px) {
  .main-hero__image::before {
    top: -30rem;
  }
}
@media screen and (min-width: 860px) {
  .main-hero__image::before {
    right: -28rem;
  }
}
@media screen and (min-width: 940px) {
  .main-hero__image::before {
    right: -33rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__image::before {
    top: 8rem;
    right: 6rem;
  }
}
@media screen and (min-width: 1300px) {
  .main-hero__image::before {
    right: 4rem;
  }
}
@media screen and (min-width: 1350px) {
  .main-hero__image::before {
    right: -4rem;
  }
}
@media screen and (min-width: 1440px) {
  .main-hero__image::before {
    right: -8rem;
  }
}
@media screen and (min-width: 1490px) {
  .main-hero__image::before {
    right: -16rem;
  }
}
@media screen and (min-width: 1600px) {
  .main-hero__image::before {
    right: -4rem;
  }
}
@media screen and (min-width: 2400px) {
  .main-hero__image::before {
    right: -8rem;
  }
}
@media screen and (min-width: 2780px) {
  .main-hero__image::before {
    right: -20rem;
  }
}
@media screen and (min-width: 3000px) {
  .main-hero__image::before {
    right: -24rem;
  }
}

.main-title--hero {
  line-height: 1.1;
  text-align: center;
  color: white;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 740px) {
  .main-title--hero {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .main-title--hero {
    width: 80%;
    text-align: start;
  }
}

.main-paragraph--hero {
  color: white;
  margin-bottom: 2.4rem;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .main-paragraph--hero {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .main-paragraph--hero {
    width: 80%;
    margin-bottom: 4.2rem;
    text-align: start;
  }
}

.main-button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--colorDarkGrey);
  padding: 1.6rem 2.4rem;
  margin-bottom: 2.4rem;
  transition: all 0.5s;
  z-index: 200;
}
.main-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorWhite);
  border-radius: 0.8rem;
  transition: all 0.5s;
  z-index: -100;
}
.main-button:hover::before {
  background-color: var(--colorLightPeach);
}
.main-button:hover {
  color: var(--colorWhite);
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 25rem 52.4rem;
  row-gap: 2.4rem;
  margin-bottom: 10rem;
  padding: 0 2.4rem;
}
@media screen and (min-width: 740px) {
  .main {
    padding: 0 3.6rem;
    grid-template-rows: 20rem 42.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(63rem, 64rem));
    column-gap: 3.2rem;
    margin-bottom: 14rem;
    padding: 0 10rem;
  }
}
@media screen and (min-width: 1800px) {
  .main {
    column-gap: 4.8rem;
  }
}

.main__first-part, .second-part__app, .second-part__graphic {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
  justify-content: center;
  background-image: url("../../assets/home/mobile/image-web-design.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 1.6rem;
  overflow: hidden;
  z-index: 200;
}
@media screen and (min-width: 740px) {
  .main__first-part, .second-part__app, .second-part__graphic {
    background-image: url("../../assets/home/tablet/image-web-design.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .main__first-part, .second-part__app, .second-part__graphic {
    background-image: url("../../assets/home/desktop/image-web-design-large.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .main__first-part::after, .second-part__app::after, .second-part__graphic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background-color: var(--colorPeach);
    border-radius: 1.6rem;
    opacity: 0.6;
    transform: translateY(-100%);
    transition: all 0.6s;
    overflow: hidden;
    z-index: -200;
  }
}
.main__first-part:hover::after, .second-part__app:hover::after, .second-part__graphic:hover::after {
  transform: translateY(0%);
  transition: all 0.6s;
}

.main__second-part {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.4rem;
  overflow: hidden;
}

.second-part__app {
  background-image: url("../../assets/home/mobile/image-app-design.jpg");
}
@media screen and (min-width: 740px) {
  .second-part__app {
    background-image: url("../../assets/home/tablet/image-app-design.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .second-part__app {
    background-image: url("../../assets/home/desktop/image-app-design.jpg");
  }
}
.second-part__app::after {
  transform: translateX(-100%);
}
.second-part__app:hover::after {
  transform: translateX(0);
}

.second-part__graphic {
  background-image: url("../../assets/home/mobile/image-graphic-design.jpg");
}
@media screen and (min-width: 740px) {
  .second-part__graphic {
    background-image: url("../../assets/home/tablet/image-graphic-design.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .second-part__graphic {
    background-image: url("../../assets/home/desktop/image-graphic-design.jpg");
  }
}
.second-part__graphic::after {
  transform: translateX(100%);
}
.second-part__graphic:hover::after {
  transform: translateX(0);
}

.main-subtitle {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 1024px) {
  .main-subtitle {
    margin-bottom: 2.4rem;
  }
}

.main-view {
  color: white;
  text-transform: uppercase;
}

.main-article {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, minmax(38rem, 40rem));
  row-gap: 4.8rem;
  margin-bottom: 2.4rem;
  padding: 0 2.4rem;
}
@media screen and (min-width: 740px) {
  .main-article {
    grid-template-rows: repeat(3, minmax(20rem, 21rem));
    row-gap: 2.4rem;
    margin-bottom: 3.2rem;
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-article {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: repeat(1, minmax(41rem, 42rem));
    column-gap: 3.2rem;
    margin-bottom: 4.8rem;
    padding: 0 10rem;
  }
  .main-article__third-part {
    justify-self: center;
    grid-column: 1/3;
    max-width: 46rem;
  }
}
@media screen and (min-width: 1330px) {
  .main-article__third-part {
    grid-column: auto;
    width: auto;
  }
}
@media screen and (min-width: 1600px) {
  .main-article {
    grid-template-columns: repeat(3, minmax(35rem, 1fr));
    column-gap: 2.4rem;
  }
}
@media screen and (min-width: 1900px) {
  .main-article {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
  .main-article__third-part {
    justify-self: center;
    grid-column: 1/3;
    max-width: 48rem;
  }
}
@media screen and (min-width: 2020px) {
  .main-article {
    grid-template-columns: repeat(3, minmax(35rem, 1fr));
  }
  .main-article__third-part {
    grid-column: auto;
  }
}
@media screen and (min-width: 2300px) {
  .main-article {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
  .main-article__third-part {
    justify-self: center;
    grid-column: 1/3;
    max-width: 48rem;
  }
}
@media screen and (min-width: 2610px) {
  .main-article {
    grid-template-columns: repeat(3, minmax(35rem, 1fr));
  }
  .main-article__third-part {
    grid-column: auto;
  }
}

.main-article__first-part, .main-article__second-part, .main-article__third-part {
  display: grid;
  grid-template-rows: minmax(20.2rem, 21rem) minmax(16.2rem, 17rem);
  justify-items: center;
  text-align: center;
}
@media screen and (min-width: 740px) {
  .main-article__first-part, .main-article__second-part, .main-article__third-part {
    grid-template-columns: minmax(20.2rem, 21rem) 1fr;
    grid-template-rows: repeat(1, 1fr);
    column-gap: 5.6rem;
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .main-article__first-part, .main-article__second-part, .main-article__third-part {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(20.2rem, 21rem) minmax(16.2rem, 17rem);
    row-gap: 3.2rem;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0.8rem;
  }
}
@media screen and (min-width: 740px) {
  .container-content {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .container-content {
    align-items: center;
    justify-content: center;
  }
}

.container-image {
  position: relative;
}
.container-image img {
  transition: all 0.5s;
}
.container-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s;
  z-index: -200;
}
.container-image:hover img {
  transform: scale(1.2);
  transition: all 0.5s;
}

.article-subtitle {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 600px) {
  .main-paragraph {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .main-paragraph {
    width: 100%;
  }
}
@media screen and (min-width: 2800px) {
  .main-paragraph {
    width: 90%;
  }
}

.main-section {
  width: 100%;
  padding: 0 2.4rem;
  transform: translateY(7rem);
  z-index: 400;
}
@media screen and (min-width: 740px) {
  .main-section {
    padding: 0 3.6rem;
    transform: translateY(8rem);
  }
}
@media screen and (min-width: 1024px) {
  .main-section {
    padding: 0 10rem;
  }
}

.main-section__container {
  position: relative;
  width: 100%;
  display: grid;
  background-color: var(--colorPeach);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(16rem, 17rem) minmax(5.6rem, 6rem);
  row-gap: 2.8rem;
  text-align: center;
  padding: 6.4rem 2.4rem;
  border-radius: 1.6rem;
  z-index: 100;
  overflow: hidden;
}
.main-section__container::before {
  content: "";
  position: absolute;
  top: -12rem;
  left: 0;
  width: 100%;
  height: 50rem;
  background-image: url("../../assets/shared/desktop/bg-pattern-three-circles.svg");
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  z-index: -100;
}
@media screen and (min-width: 700px) {
  .main-section__container::before {
    left: auto;
    width: 90rem;
    height: 150%;
    top: -12rem;
    right: -18rem;
    background-image: url("../../assets/shared/desktop/bg-pattern-call-to-action.svg");
  }
}
@media screen and (min-width: 740px) {
  .main-section__container::before {
    width: 96rem;
    right: -15rem;
  }
}
@media screen and (min-width: 820px) {
  .main-section__container::before {
    right: -8rem;
  }
}
@media screen and (min-width: 900px) {
  .main-section__container::before {
    right: -4rem;
    width: 100rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-section__container::before {
    top: -12rem;
    right: -8rem;
  }
}
@media screen and (min-width: 1300px) {
  .main-section__container::before {
    right: 2rem;
  }
}
@media screen and (min-width: 470px) {
  .main-section__container {
    grid-template-rows: minmax(13rem, 15rem) minmax(5.6rem, 6.4rem);
  }
}
@media screen and (min-width: 530px) {
  .main-section__container {
    grid-template-rows: minmax(10rem, 12rem) minmax(5.6rem, 6.4rem);
  }
}
@media screen and (min-width: 700px) {
  .main-section__container {
    grid-template-rows: minmax(16rem, 17rem) minmax(5.6rem, 6.4rem);
    padding: 6.4rem 3.6rem;
  }
}
@media screen and (min-width: 805px) {
  .main-section__container {
    grid-template-rows: minmax(12rem, 13rem) minmax(5.6rem, 6.4rem);
  }
}
@media screen and (min-width: 1024px) {
  .main-section__container {
    text-align: start;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    padding: 6.4rem;
  }
  .main-section__container .main-section__button {
    justify-self: flex-end;
  }
}

@media screen and (min-width: 510px) {
  .main-section__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .main-section__info {
    align-items: flex-start;
  }
}

.main-section__subtitle {
  font-size: 3.2rem;
  color: white;
  line-height: 1;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 700px) {
  .main-section__subtitle {
    font-size: 4rem;
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .main-section__subtitle {
    width: 100%;
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 1350px) {
  .main-section__subtitle {
    width: 80%;
    margin-bottom: 2.4rem;
  }
}

.main-paragraph--section {
  color: white;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 700px) {
  .main-paragraph--section {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .main-paragraph--section {
    width: 100%;
  }
}
@media screen and (min-width: 1350px) {
  .main-paragraph--section {
    width: 80%;
  }
}

.main-hero--about {
  margin-bottom: 0;
}
@media screen and (min-width: 700px) {
  .main-hero--about {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-hero--about {
    margin-bottom: 16rem;
  }
}

.main-hero__container--about {
  align-items: center;
  grid-template-rows: minmax(32rem, 33rem) minmax(26rem, 28rem);
  row-gap: 6.4rem;
  padding: 6.4rem 0;
  padding-top: 0;
}
@media screen and (min-width: 450px) {
  .main-hero__container--about {
    grid-template-rows: minmax(30rem, 32rem) minmax(22rem, 24rem);
  }
}
@media screen and (min-width: 600px) {
  .main-hero__container--about {
    grid-template-rows: minmax(30rem, 32rem) minmax(18rem, 20rem);
    row-gap: 3.2rem;
  }
}
@media screen and (min-width: 740px) {
  .main-hero__container--about {
    grid-template-rows: minmax(32rem, 33rem) minmax(26rem, 29rem);
  }
}
@media screen and (min-width: 830px) {
  .main-hero__container--about {
    grid-template-rows: minmax(32rem, 33rem) minmax(24rem, 26rem);
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__container--about {
    grid-template-rows: repeat(1, minmax(47rem, 49rem));
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
@media screen and (min-width: 1300px) {
  .main-hero__container--about {
    grid-template-columns: 1fr minmax(47rem, 48rem);
  }
}

.main-hero__info--about {
  position: relative;
  order: 2;
  padding: 0 2.4rem;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .main-hero__info--about::before {
    content: "";
    position: absolute;
    top: -25rem;
    left: -18rem;
    width: 64rem;
    height: 64rem;
    background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(135deg);
    opacity: 0.7;
  }
}
@media screen and (min-width: 1180px) {
  .main-hero__info--about::before {
    left: -15rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-hero__info--about::before {
    left: -10rem;
  }
}
@media screen and (min-width: 1310px) {
  .main-hero__info--about::before {
    left: -5rem;
  }
}
@media screen and (min-width: 1410px) {
  .main-hero__info--about::before {
    left: 2rem;
  }
}
@media screen and (min-width: 1600px) {
  .main-hero__info--about::before {
    left: -4rem;
  }
}
@media screen and (min-width: 1800px) {
  .main-hero__info--about::before {
    left: 2rem;
  }
}
@media screen and (min-width: 1900px) {
  .main-hero__info--about::before {
    left: -8rem;
  }
}
@media screen and (min-width: 2100px) {
  .main-hero__info--about::before {
    left: -2rem;
  }
}
@media screen and (min-width: 2300px) {
  .main-hero__info--about::before {
    left: -12rem;
    opacity: 0.6;
  }
}
@media screen and (min-width: 2650px) {
  .main-hero__info--about::before {
    width: 66rem;
    height: 66rem;
    left: -2rem;
  }
}
@media screen and (min-width: 2700px) {
  .main-hero__info--about::before {
    width: 70rem;
  }
}
@media screen and (min-width: 3040px) {
  .main-hero__info--about::before {
    left: 0;
  }
}
@media screen and (min-width: 700px) {
  .main-hero__info--about {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__info--about {
    padding: 0;
    padding-left: 6.4rem;
    order: -2;
  }
}

@media screen and (min-width: 740px) {
  .main-paragraph--hero-about {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .main-paragraph--hero-about {
    width: 80%;
  }
}

.main-hero__image--about {
  position: relative;
  height: 100%;
  background-image: url("../../assets/about/mobile/image-about-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main-hero__image--about::after {
  content: "";
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 40rem;
  left: auto;
  right: -4rem;
  background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(135deg);
  opacity: 0.8;
}
@media screen and (min-width: 740px) {
  .main-hero__image--about::after {
    top: 0rem;
    left: -10rem;
    right: 0;
    width: 64rem;
    height: 64rem;
    opacity: 0.4;
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__image--about::after {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .main-hero__image--about {
    background-image: url("../../assets/about/tablet/image-about-hero.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__image--about {
    background-image: url("../../assets/about/desktop/image-about-hero.jpg");
  }
}

.main-about {
  width: 100%;
  margin-bottom: 12rem;
}
@media screen and (min-width: 700px) {
  .main-about {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-about {
    margin-bottom: 16rem;
    padding: 0 10rem;
  }
}

.main-about__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(32rem, 34rem) minmax(39rem, 42rem);
  row-gap: 4.8rem;
  background-color: var(--colorCrema);
  padding-bottom: 6.4rem;
  overflow: hidden;
  z-index: 500;
}
.main-about__container::before {
  content: "";
  position: absolute;
  top: 30rem;
  left: -2rem;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/shared/desktop/bg-pattern-three-circles.svg");
  background-repeat: no-repeat;
  z-index: -100;
}
@media screen and (min-width: 700px) {
  .main-about__container::before {
    left: auto;
    top: 18rem;
    right: -10rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-about__container::before {
    top: auto;
    right: 4rem;
    width: 60rem;
    height: 30rem;
    bottom: -1rem;
    background-image: url("../../assets/shared/desktop/bg-pattern-two-circles.svg");
  }
}
@media screen and (min-width: 500px) {
  .main-about__container {
    grid-template-rows: minmax(34rem, 36rem) minmax(36rem, 39rem);
    row-gap: 3.6rem;
  }
}
@media screen and (min-width: 600px) {
  .main-about__container {
    grid-template-rows: minmax(32rem, 36rem) minmax(36rem, 39rem);
  }
}
@media screen and (min-width: 700px) {
  .main-about__container {
    border-radius: 1.6rem;
  }
}
@media screen and (min-width: 740px) {
  .main-about__container {
    grid-template-rows: minmax(30rem, 33rem) minmax(36rem, 38rem);
    border-radius: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-about__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(63rem, 65rem));
    column-gap: 4.8rem;
    padding: 0;
  }
}
@media screen and (min-width: 1300px) {
  .main-about__container {
    grid-template-columns: minmax(47rem, 48rem) 1fr;
  }
  .main-about__container .main-about__info {
    justify-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .main-about__container--second::before {
    left: -4rem;
    right: 0;
  }
}

.main-about__image {
  background-image: url("../../assets/about/mobile/image-world-class-talent.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (min-width: 700px) {
  .main-about__image {
    background-image: url("../../assets/about/tablet/image-world-class-talent.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .main-about__image {
    background-image: url("../../assets/about/desktop/image-world-class-talent.jpg");
  }
}

.main-about__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3.6rem;
  padding: 0 2.4rem;
}
@media screen and (min-width: 740px) {
  .main-about__info {
    margin-top: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-about__info {
    margin-top: 0;
    text-align: start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1600px) {
  .main-about__info {
    padding: 0 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-about__info--edit {
    order: -2;
  }
}

.main-title--about {
  color: var(--colorPeach);
  margin-bottom: 2.4rem;
}

.main-paragraph--about {
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 1300px) {
  .main-paragraph--about {
    width: 90%;
  }
}
@media screen and (min-width: 1500px) {
  .main-paragraph--about {
    width: 85%;
  }
}
@media screen and (min-width: 1600px) {
  .main-paragraph--about {
    width: 90%;
  }
}
@media screen and (min-width: 2800px) {
  .main-paragraph--about {
    width: 85%;
  }
}

.main-about__image--edit {
  background-image: url("../../assets/about/desktop/image-real-deal.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (min-width: 700px) {
  .main-about__image--edit {
    background-image: url("../../assets/about/tablet/image-real-deal.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .main-about__image--edit {
    background-image: url("../../assets/about/desktop/image-real-deal.jpg");
  }
}

@media screen and (min-width: 1400px) {
  .main-paragraph--about-edit {
    width: 85%;
  }
}
@media screen and (min-width: 1500px) {
  .main-paragraph--about-edit {
    width: 75%;
  }
}
@media screen and (min-width: 1600px) {
  .main-paragraph--about-edit {
    width: 90%;
  }
}

.main-article--about {
  grid-template-rows: repeat(3, minmax(32rem, 34rem));
  row-gap: 3.6rem;
  margin-bottom: 12rem;
}
@media screen and (min-width: 740px) {
  .main-article--about {
    row-gap: 4.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-article--about {
    grid-template-rows: repeat(1, minmax(35rem, 37rem));
    margin-bottom: 16rem;
  }
}

@media screen and (min-width: 740px) {
  .article-part-edit {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .article-part-edit {
    grid-template-rows: minmax(20.2rem, 21rem) minmax(12rem, 15rem);
  }
}

@media screen and (min-width: 740px) {
  .container-content--about {
    align-items: center;
  }
}

.main-button--about {
  color: var(--colorWhite);
}
.main-button--about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorPeach);
}
.main-button--about:hover::before {
  background-color: var(--colorLightPeach);
}

.main-hero-services {
  position: relative;
  width: 100%;
  margin-bottom: 12rem;
  overflow: hidden;
}
.main-hero-services::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -15rem;
  width: 60rem;
  height: 100%;
  background-image: url("../../../../assets/shared/desktop/bg-pattern-two-circles.svg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 580px) {
  .main-hero-services::before {
    left: -5rem;
  }
}
@media screen and (min-width: 740px) {
  .main-hero-services::before {
    top: -15rem;
    left: auto;
    right: 6rem;
    width: 90rem;
    height: 60rem;
    background-image: url("../../../../assets/shared/desktop/bg-pattern-call-to-action.svg");
  }
}
@media screen and (min-width: 1024px) {
  .main-hero-services::before {
    right: 10rem;
  }
}
@media screen and (min-width: 740px) {
  .main-hero-services {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-hero-services {
    margin-bottom: 16rem;
    padding: 0 10rem;
  }
}

.container-services {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, minmax(31rem, 32rem));
  justify-items: center;
  align-items: center;
  background-color: var(--colorPeach);
  text-align: center;
  color: white;
  padding: 0 2.4rem;
}
@media screen and (min-width: 740px) {
  .container-services {
    grid-template-rows: repeat(1, minmax(25rem, 26rem));
    border-radius: 1.6rem;
    padding: 0;
  }
}

.container-services-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 400;
}

.main-title-services {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 1024px) {
  .main-paragraph-services {
    width: 80%;
  }
}
@media screen and (min-width: 1300px) {
  .main-paragraph-services {
    width: 75%;
  }
}

/*# sourceMappingURL=styles.css.map */
