@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-section{
	position: relative;
	width: calc(100% - 2.4rem);
	background-color: var(--colorPeach);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: minmax(16rem, 17rem) minmax(5.6rem, 6rem);
	row-gap: 2.8rem;
	text-align: center;
	margin-bottom: 4rem;
	padding: 6.4rem 2.4rem;
	border-radius: 1.6rem;
	z-index: 100;

	&::before{
		@include before(-12rem, 0, 100%, 50rem){
			background-image: url('../../assets/shared/desktop/bg-pattern-three-circles.svg');
			background-repeat: no-repeat;
			transform: rotateY(180deg);
			z-index: -100;

			@include responsive(700px){
				left: auto;
				width: 90rem;
				height: 150%;
				top: -12rem;
				right: -18rem;
				background-image: url('../../assets/shared/desktop/bg-pattern-call-to-action.svg');
			}

			@include responsive(tablet){
				width: 96rem;
				right: -12rem;
			}

			@include responsive(900px){
				width: 100rem;
			}

			@include responsive(desktop){
				width: 96rem;
			}
		}
	}

	@include responsive(510px){
		grid-template-rows: minmax(10rem, 12rem) minmax(5.6rem, 6rem);
	}

	@include responsive(700px){
		grid-template-rows: minmax(16rem, 17rem) minmax(5.6rem, 6rem);
		padding: 6.4rem;
	}

	@include responsive(890px){
		grid-template-rows: minmax(12rem, 13rem) minmax(5.6rem, 6rem);
	}

	@include responsive(desktop){
		text-align: start;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 3.2rem;
		grid-template-rows: repeat(1 ,1fr);
		align-items: center;
		padding: 7.2rem;

		&__button{
			justify-self: flex-end;
		}
	}

}

// Información

.main-section__info{

	@include responsive(510px){
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include responsive(desktop){
		align-items: flex-start;
	}
}